body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#nexus {
	background: url('images/nexus4-vert.png');
	height: 837px;
	width: 477px;
	z-index: 999;
	padding-top: 119px;
	padding-bottom: 153px;
	padding-left: 46px;
	padding-right: 47px;
	margin-left: auto;
	margin-right: auto;
}

#settings form {
    text-align: left;
}

#settings 

#newAppToBlockContainer,
#newPersonToBlockContainer {
    margin-bottom: 20px;
}

span.removeButton {
    cursor: pointer;
}

#timeBlockContainer table {
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 7px;
    border-collapse: separate;
    font-size: 9pt;
}

#timeBlockContainer table th {
    text-align: center;
}

#timeBlockContainer table td.timeBlock {
    min-width: 35px;
    min-height: 15px;
    max-width: 35px;
    max-height: 15px;
    width: 35px;
    height: 15px;
    cursor: pointer;
    overflow: hidden;
}

#timeBlockContainer table td.blocked-true {
    background-color: red;
}

#timeBlockContainer table td.blocked-false {
    background-color: green;
}

#message {
	height: 100%;
	width: 100%;
	overflow: scroll;
	padding: 10px;
}

#message ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

#message li {
	display: block;
	background: black;
	color: white;
	margin: 20px;
	padding: 20px;
	border-radius: 20px;
}

#message img {
	max-width: 100%;
}

#message li.\/users\/andr_602ac1c0b4d82982\/com\.skype\.raider\/frommobile {
	background: #2288DD;
}

#message li.\/users\/andr_602ac1c0b4d82982\/com\.facebook\.orca\/frommobile {
	background: #2244FF;
}

#message li.\/users\/andr_602ac1c0b4d82982\/com\.whatsapp\/frommobile {
	background: #33CC33;
}
