<div class="starter-template" id="monitor">
    <h1>What my kid is currently reading ?</h1>
    <br />

    <div id="nexus">
        <div id="message">
            <ul>
                <li ng-repeat="message in messages" class="{{message.topic}}">
                    <span class="textMessage" ng-if="message.type == 'txt'">{{message.content}}</span>
                    <img src="data:image/jpeg;base64,{{message.content}}" ng-if="message.type == 'img'" />
                </li>
            </ul>
        </div>
    </div>
</div>
