<div class="starter-template" id="settings">
    <h1>Settings</h1>
    <br />

    <form role="form">
        <div class="form-group" id="personsToBlockContainer">
            <h3>Persons to block</h3>
            <div id="newPersonToBlockContainer" class="input-group">
                <input type="text" class="form-control" id="newPersonToBlock" ng-model="newPersonToBlock" placeholder="New person to block" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" ng-click="addBlockedPerson(newPersonToBlock)">Add</button>
                </span>
            </div>
            <div id="personsToBlockListContainer">
                <ul>
                    <li ng-repeat="(blockedPerson, _) in blockedPersons">
                        {{blockedPerson}} <span class="glyphicon glyphicon-remove removeButton" ng-click="removeBlockedPerson(blockedPerson)"></span>
                    </li>
                </ul>
            </div>
        </div>
        <hr />
        <div class="form-group" id="appsToBlockContainer">
            <h3>Applications to block</h3>
            <div id="newAppToBlockContainer" class="input-group">
                <input type="text" class="form-control" id="newAppToBlock" ng-model="newAppToBlock" placeholder="New app to block" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" ng-click="addBlockedApp(newAppToBlock)">Add</button>
                </span>
            </div>
            <div id="appsToBlockListContainer">
                <ul>
                    <li ng-repeat="(blockedApp, _) in blockedApps">
                        {{blockedApp}} <span class="glyphicon glyphicon-remove removeButton" ng-click="removeBlockedApp(blockedApp)"></span>
                    </li>
                </ul>
            </div>
        </div>
        <hr />
        <div class="form-group" id="timeBlockContainer">
            <h3>Time block</h3>
            <table>
                <tr>
                    <th class="spacer"></th>
                    <th ng-repeat="timeBlock in timeBlocks">
                        {{timeBlock.label}}
                    </th>
                    <th class="spacer"></th>
                </tr>
                <tr>
                    <td class="spacer"></td>
                    <td ng-repeat="timeBlock in timeBlocks" class="timeBlock blocked-{{timeBlock.blocked}}" ng-click="toggleTimeBlock($index)">
                    </td>
                    <td class="spacer"></td>
                </tr>
            </table>
        </div>
    </form>
</div>
